In [11]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("C:/Users/abulh/Documents/Sync/4_Learning/dataset/Experience.csv")

EDA

In [12]:
df.select_dtypes(include=np.number).corr()

              Applicant.ID    Salary
Applicant.ID      1.000000 -0.017898
Salary           -0.017898  1.000000

In [17]:
ts_df = df.groupby('Start.Date')["Applicant.ID"].agg("count").reset_index()
ts_df

      Start.Date  Applicant.ID
0     0113-11-17             1
1     1012-03-01             1
2     1947-09-23             1
3     1951-05-10             1
4     1956-11-21             1
...          ...           ...
1766  2062-01-01             1
1767  2064-06-30             1
1768  2067-12-31             1
1769  2068-03-14             1
1770  2068-07-08             1

[1771 rows x 2 columns]